footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: var(--color_dark);
    color: var(--color_light);
    font-size: 13px;
    font-weight: 300;
}
