footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: var(--color_dark);
    color: var(--color_light);
    font-size: 14px;
    font-weight: 300;
}

#logo {
    position: fixed;
    opacity: 0.75;
    bottom: 12px;
    right: 24px;
    border-radius: 100%;
}