nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    padding: 0 24px;
    position: fixed;
    z-index: 7;
    background-color: var(--color_dark);
}

nav .home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav .navigation {
    width: 400px;
    margin-top: 9px;
    list-style: none;
}

nav .one {
    margin-right: 110px;
    text-align: right;
}

nav .two {
    margin-left: 110px;
    text-align: left;
}

nav .navigation span {
    display: inline;
    padding: 0 12px;
}

nav .navigation span a {
    color: var(--color_light);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
}

nav .home h1 a {
    color: var(--color_light);
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: none;
}

nav .navigation span a:hover, nav .home h1 a:hover {
    color: rgb(196, 196, 196);
}

nav svg {
    display: none;
    position: absolute;
    left: 16px;
    fill: var(--color_light);
    cursor: pointer;
}

nav svg:hover {
    fill: rgb(196, 196, 196);
}

@media screen and (max-width: 1047px) {
    nav .navigation {
        display: none;
    }

    nav svg {
        display: flex;
    }

    nav.active::before {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        content: '';
        width: 100%;
        height: 200vh;
        position: absolute;
        opacity: .8;
        background-color: var(--color_dark);
    }

    nav.active .navigation {
        display: block;
        width: 100vw;
        margin: 0;
        text-align: center;
    }

    nav.active .one {
        position: absolute;
        top: calc(50vh - 120px);
    }

    nav.active .two {
        position: absolute;
        top: 50vh;
    }

    nav.active .navigation span {
        display: flex;
        flex-direction: column;
    }

    nav.active .navigation span a {
        font-size: 24px;
        line-height: 1.7em;
    }

    nav.active .navigation span a, nav.active .home h1 a {
        color: var(--color_light);
    }

    nav.active .navigation span a:hover, nav.active .home h1 a:hover {
        color: rgb(196, 196, 196);
    }
}
