.container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url("../public/img/wallpaper.jpg");
    background-attachment: fixed;
    background-repeat: repeat;

    .content {
        display: grid;
        row-gap: 64px;
        padding-bottom: 180px;
    }

    @media screen and (max-width: 831px) {
        .content {
            row-gap: 100px;
        }
    }
}
